@font-face {
  font-family:"Gotthard";
  src:url("resources/gotthard.ttf");
}
@font-face {
  font-family:"Ronda";
  src:url("resources/Ronda-Medium.otf");
}
@font-face {
  font-family:"FiraCode";
  src:url("resources/FiraCode-Medium.otf");
}
@font-face {
  font-family:"Simply Rounded";
  src:url("resources/Simply Rounded Bold.ttf");
}
@font-face {
  font-family:"Half Elven";
  src:url("resources/halfelvenbold.ttf");
}
@font-face {
  font-family:"Enochian";
  src:url("resources/Enochian-BGlG.otf");
}
@font-face {
  font-family:"Quite Magical";
  src:url("resources/Quite Magical.ttf");
}
@font-face {
  font-family:"Arabella";
  src:url("resources/Arabella.ttf");
}
@font-face {
  font-family:"Chirota";
  src:url("resources/Chirota Regular-Italic.otf");
}
