/*
  Variables to insert before this code
  --first_background: main background
  --second_background: secondary background

  --first_color: main font color
  --second_color: secondary font color

  --sans-serif_font: main font
  --cursive_font: handwritten font
  --monospace_font: code font
*/
/* Base Component */
body{
  margin:0;
  padding:0;
  background: var(--first_background);
}
::-webkit-scrollbar{
  width:1em;
}
::-webkit-scrollbar-track{
  background: var(--first_background);
}
::-webkit-scrollbar-thumb{
  background:var(--second_background);
}
ul, li{
  list-style-type: none;
  margin:0;
  padding:0;
}
/* Header */
div.header{
  width:100%;
  background: var(--second_background);
}
div.header > p{
  margin:0;
  padding:20px;

  color: var(--first_color);
  font-family: var(--sans-serif_font);
  text-align:center;
  font-size:30px;
}
ul.menu-bar{
  text-align:center;
}
ul.menu-bar li{
  padding:10px;
  display:inline-block;
  font-size:30px;
  font-family: var(--sans-serif_font);
  background: var(--second_background);
  color: var(--second_color);
}
ul.menu-bar li:hover{
  background: var(--first_background);
  color: var(--first_color);
}
ul.menu-bar a{
  text-decoration:none;
}
/* Content */
div.content{
  padding:10px;
  width:100%;
}
/* Container */
div.container{
  margin:0 auto;
  width:80%;
  border:1px solid var(--second_color);
}
div.container > p:first-of-type{
  margin:0;
  padding:15px;

  font-family: var(--sans-serif_font);
  color:var(--first_color);
  font-size:26px;
  background:var(--second_background);
}
div.container > p:first-of-type:hover{
  cursor:pointer;
}
div.container div:first-of-type{
  padding:10px;
}
div.container.close div:first-of-type{
  display:none;
}
div.container > p > i{
  margin-right: 10px;
}
div.container > p > i.fa-chevron-right, div.container.close > p > i.fa-chevron-down{
  display:none;
}
div.container > p > i.fa-chevron-down, div.container.close > p > i.fa-chevron-right{
  display:inline;
}
/* Flip-Cards */
div.flip-card{
  margin:10px;
  width:300px;
  height:200px;
  perspective: 1000px;
}
div.flip-card div:only-child{
  position:relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
div.flip-card:hover div:only-child{
  transform: rotateY(180deg);
}
div.flip-card div:only-child > div{
  position:absolute;
  width:100%;
  height:100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-image:var(--second_background);
  color:var(--second_color);
}
div.flip-card div:only-child div:first-of-type{
}
div.flip-card div:only-child div:last-of-type{
  transform: rotateY(180deg);
}
div.flip-card div:only-child > div > p{
  vertical-align: middle;
  text-align:center;
  font-size:1.5em;
  margin:0;
}
/* Zoom-Cards */
div.zoom-card{
  display: inline-block;
  background: var(--second_background);
}
div.zoom-card:hover{
  transform: scale(1.5);
}
div.zoom-card > p{
  padding:10px;
  margin:0;

  font-family: var(--sans-serif_font);
  color:var(--first_color);
  font-size:20px;
}
/* Topic-List */
div.topic-list ul > li:first-child > i.fa-chevron-right, div.topic-list ul.close > li:first-child > i.fa-chevron-down{
  display:none;
}
div.topic-list ul > li:first-child > i.fa-chevron-down, div.topic-list ul.close > li:first-child > i.fa-chevron-right{
  display:inline;
}
div.topic-list ul.close > li:last-child{
  display:none;
}
div.topic-list{
  padding:10px;
}
div.topic-list ul{
  padding:2px;
  border-left:1px solid var(--first_color);
  border-bottom:1px solid var(--first_color);
}
div.topic-list ul > li:first-child{
  font-family:var(--sans-serif_font);
  color:var(--first_color);
  font-size:1.5em;
  font-variant:small-caps;
}
div.topic-list ul > li:last-child{
  margin-left:10px;
}
div.topic-list ul > li:first-child > i.fa-chevron-right, div.topic-list ul > li:first-child > i.fa-chevron-down{
  margin-right:5px;
}
div.topic-list ul > li:first-child:hover{
  cursor:pointer;
}
div.topic-list ul > li:last-child p{
  display:inline-block;
  padding:5px;
  color:var(--second_color);
  background:var(--second_background);
  border:1px solid var(--second_color);
  font-family:var(--cursive_font);
  font-size: 20px;
}
/* Tree */
div.tree{
  position:relative;
  width:100%;
  height:12em;
}
div.tree ul{
  position:absolute;
  display:inline-block;
  text-align:center;
  width:30%;
}
div.tree ul li{
  position:relative;
  display:inline-block;
  font-family: var(--text_font);
  background-color:var(--fifth_color);
  color:var(--sixth_color);
  padding:0.5em;
  border-radius:1em;
}
div.tree ul > ul{
  top:2.5em;
}
div.tree ul:nth-of-type(1):only-of-type{
  width:100%;
}
div.tree ul:nth-of-type(1){
  left:0;
}
div.tree ul:nth-of-type(2){
  left:50%;
  transform:translateX(-50%);
}
div.tree ul:nth-of-type(3){
  right:0;
}
