/* Custom font declaration */
@font-face {
  font-family:"Enchanted Land";
  src:url("resources/Enchanted Land.ttf");
}
@font-face {
  font-family:"Wizard World";
  src:url("resources/Wizard World.ttf");
}
@font-face {
  font-family:"Quite Magical";
  src:url("resources/Quite Magical.ttf");
}
@font-face {
  font-family:"Bailey";
  src:url("resources/Bailey.otf");
}
@font-face {
  font-family:"Wonderland Scratch";
  src:url("resources/Wonderland Scratch.ttf");
}
@font-face {
  font-family:"Silent Night";
  src:url("resources/Silent Night.otf");
}
/* Main components settings */
html{
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}
html,body{
  margin:0;
  padding:0;
}
ul,  li{
  margin:0;
  padding:0;
  list-style-type:none;
}
/* Scrollbar settings */
::-webkit-scrollbar{
  width:1em;
}
::-webkit-scrollbar-track{
  background-color:var(--first_color);
}
::-webkit-scrollbar-thumb{
  background-color:var(--second_color);
}
/* Setting Header */
div.header{
  margin:0;
  padding:0;
  text-align:center;
  border-bottom:1px solid var(--second_color);
}
ul.menu_bar{
  list-style-type: none;
}
ul.menu_bar li{
  padding:0.4em;
  font-variant: small-caps;
  font-size:2.5em;
  display:inline-block;
  font-family:var(--title_font);
  color:var(--second_color);
}
ul.menu_bar li:hover{
  color:var(--fourth_color);
  background-color:var(--third_color);
}
/* Content settings */
div.content{
  margin:0;
  padding:0;
}
/* Topic List Setting */
div.topic_list{
  padding:2em;
}
div.topic_list ul{
}
div.topic_list ul > li:first-child{
  padding:5px;
  font-size:2.5em;
  border-radius:0.5em;
  background-color:rgba(0,0,0,0.3);
}
div.topic_list ul > li:last-child{
  margin-left:2em;
}
div.topic_list ul li:first-child:hover{
  cursor:pointer;
}
div.topic_list ul li:first-child > img{
  padding:5px;
  height:1em;
  vertical-align: middle;
}
div.topic_list ul li:first-child > span{
  font-family:var(--title_font);
  color:var(--second_color);
  display:inline-block;
}
div.topic_list ul li:last-child > p{
  text-align: center;
  color:var(--second_color);
}
figure.slide{
  margin:0 auto;
  overflow:hidden;
  width:50%;
  height:70%;
}
figure.slide > img{
  margin-top:-1%;
  margin-left:-3%;
  display:block;
  width:106%;
  opacity:85%;
}
/* List Toggle */
div.topic_list ul.close > li:last-child{
  display:none;
}
div.topic_list ul.close > li:first-child > img{
  background-color: transparent;
  border-radius: 0;
}
div.topic_list ul.open > li:first-child{
  position:sticky;
  top:0;
  background-color: var(--third_color);
  z-index: 1;
}
div.topic_list ul.open > li:first-child > span{
  color: var(--fourth_color);
}
