/* Setting base components */
ul,  li{
  margin:0;
  padding:0;
  list-style-type:none;
}
body{
  background-color:var(--first_color);
  overflow-y:scroll;
}
table{
  border-collapse: collapse;
}
table.horizontal_header tr:first-child td, table.vertical_header tr td:first-child{
  background-color:var(--third_color);
  color:var(--fourth_color);
  font-variant: small-caps;
  font-weight: bold;
}
td{
  text-align:center;
  border:1px solid var(--second_color);
  padding:0.3em;
  font-family: var(--text_font);
}
/* Setting Header */
div.header{
  margin:0;
  padding:0;
  text-align:center;
  border-bottom:1px solid var(--second_color);
}
ul.menu_bar{
  list-style-type: none;
}
ul.menu_bar li{
  padding:0.4em;
  font-variant: small-caps;
  font-size:2.5em;
  display:inline-block;
  font-family:var(--title_font);
  color:var(--second_color);
}
ul.menu_bar li:hover{
  color:var(--fourth_color);
  background-color:var(--third_color);
}
/* Setting Content */
div.content{
  margin:0;
  padding:0;
}
/* Setting List Toggle */
div.topic_list ul.open > li:first-child > i.fa-chevron-right, div.topic_list ul.close > li:first-child > i.fa-chevron-down{
  display:none;
}
div.topic_list ul.open > li:first-child > i.fa-chevron-down, div.topic_list ul.close > li:first-child > i.fa-chevron-right{
  display:inline;
}
div.topic_list ul.close > li:last-child{
  display:none;
}
/* Setting List */
div.topic_list{
  padding:2em;
}
div.topic_list ul{
  padding:0.2em;
  border-left:1px solid var(--second_color);
  border-bottom:1px solid var(--second_color);
}
div.topic_list ul > li:first-child{
  font-family:var(--title_font);
  color:var(--second_color);
  font-size:1.5em;
  font-variant:small-caps;
}
div.topic_list ul > li:last-child{
  margin-left:2em;
}
div.topic_list ul > li:first-child > i.fa-chevron-right, div.topic_list ul > li:first-child > i.fa-chevron-down{
  margin-right:0.5em;
}
div.topic_list ul > li:first-child:hover{
  cursor:pointer;
}
div.topic_list ul > li:last-child p{
  display:inline-block;
  padding:0.5em;
  color:var(--fourth_color);
  background-color:var(--third_color);
  border:1px solid var(--fourth_color);
  font-family:var(--text_font);
  font-size: 1em;
}
/* Setting Buttons */
div.button{
  background-color:var(--third_color);
  color:var(--fourth_color);
  border:1px solid var(--fourth_color);
  font-weight: bold;
  font-variant: small-caps;
  font-size: 1.3em;
  padding:0.3em;
}
div.button:hover{
  cursor:pointer;
}
/* Setting Tree */
div.tree{
  position:relative;
  width:100%;
  height:12em;
}
div.tree ul{
  position:absolute;
  display:inline-block;
  text-align:center;
  width:30%;
}
div.tree ul li{
  position:relative;
  display:inline-block;
  font-family: var(--text_font);
  background-color:var(--fifth_color);
  color:var(--sixth_color);
  padding:0.5em;
  border-radius:1em;
}
div.tree ul > ul{
  top:2.5em;
}
div.tree ul:nth-of-type(1):only-of-type{
  width:100%;
}
div.tree ul:nth-of-type(1){
  left:0;
}
div.tree ul:nth-of-type(2){
  left:50%;
  transform:translateX(-50%);
}
div.tree ul:nth-of-type(3){
  right:0;
}
